.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: space-between;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .card-img, .card-img-bottom, .card-img-top{
    width: 200px;
  }

  .card{
    width: 15vw !important;
  }

  #contenedorpelis{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .containercard{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20vw !important;
    max-width: 20vw !important;
    margin: 3vw !important;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-img-top{
    width: 15vw !important;
    height: 50vh !important;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
  }
